body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-image: url('img/spaceBack.jpg'); 
    background-size: cover; 
    background-position: center;
    
}

#board {
    border: 1px solid white;
}

#title {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px;
    padding: 0px;
    position: relative;
    right: 125px;  ;

}

#control {
    color: white;
    display: flex; 
    justify-content: left; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    font-family:'Courier New', Courier, monospace;
    position: relative;
    bottom: 165px;
    right: 105px;
    
}